<nav class="navbar navbar-expand-lg">
    <div>
        <a class="navbar-brand logo" href="">
            <i class="bi bi-4-square"></i>
            Login
        </a>
    </div>
    <div *ngIf="userLoginOn">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Tiquetes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Despachos</a>
            </li>
            <li class="nav-item dropdown">
                <a data-mdb-dropdown-init class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    aria-expanded="false" data-toggle="dropdown">
                    Encomiendas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </li>
            <li mdbDropdown class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" mdbDropdownToggle
                    aria-expanded="false">
                    Dropdown link
                </a>
                <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a data-mdb-dropdown-init class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    aria-expanded="false">
                    Caja
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="">
        <a class="help" (click)="open(helpModal)">
            <i class="bi bi-question-circle" alt="dino-label"></i>
        </a>
    </div>

</nav>
<ng-template #helpModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ayuda</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Para visualizar el programa y sus diferentes opciones, debes iniciar sesion</p>
    </div>
    <div class="modal-footer  flex-nowrap">
        <p class="small text-muted">Si no puedes ingresar comunicate con el administrador del sistema</p>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>

</ng-template>